/* Style reset */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of stylesheet */

/* Navbar  */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightslategrey;
  width: 100%;
}

.nav li {
  float: Right;
  align-items: center;
}

.nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: larger;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(34, 176, 126);
}

.nav li.dropdown {
  display: inline-block;
}

.nav .dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(137, 147, 156);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav .dropdown-content a:hover {
	background-color: rgb(34, 176, 126);
}

.nav .dropdown:hover .dropdown-content {
  display: block;
}

/* logo navbar */
.logo a {
	visibility: hidden;
}

.logo img {
	height: 100px;
	width: 160px;
	position: absolute;
	background-color: rgb(34, 176, 126);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
	visibility: visible;
}

/* Content div */
.content {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: rgb(210, 210, 210);
}

/* Welcome page */
.welcomeMessage {
	padding: 5%;
}

.welcomeMessage h1 {
	font-size: 200%;
}

/* Footer */
div.footer {
    display:flex;
    justify-content: space-evenly;
}

div.overfooter {
    bottom: 0;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: -10px;
    padding-top: 10px;
    background-color: lightslategrey;
    text-align: center;
}

h1.footerheader{
    margin-bottom: 10px;
    font-size: larger;
}

div.footerbox {
    background-color:rgb(137, 147, 156);
    padding-bottom: 20px;
    margin-bottom: -20px;
    border-radius: 10px;
    margin-left:5px;
    margin-right: 5px;
    flex:1;
	min-height: 100%;
}